@charset "UTF-8";
:root {
  --main-text-color: #fbfbfb;
  --second-text-color: #212121;
  --accent-text-color: #fe8202;
  --background-color: #f1f1f1;
  --text-color: #ffffff;
  --border-color: #181818;
}

body {
  background-color: var(--border-color);
  font-family: Poppins, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, Cormorant Unicase;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

picture,
picture img {
  display: block;
  width: 100%;
  height: auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonform {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 108px;
  background-color: var(--border-color);
  cursor: pointer;
  fill: var(--text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--text-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonform:focus, .buttonform:hover {
  background: var(--background-text-color);
  color: var(--text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  max-width: 1400px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container-main {
  position: relative;
}

@media screen and (min-width: 768px) {
  .container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.backdrop {
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(23, 26, 36, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: calc(100% - 30px);
  max-width: 450px;
  min-height: 581px;
  background-color: var(--text-color);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) rotate(0) translate(-50%, -50%);
          transform: scale(1) rotate(0) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.5) rotate(270deg);
          transform: scale(1.5) rotate(270deg);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: border-color 250ms;
  transition: border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:focus .modal__icon,
.modal__close:hover .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.modalform {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .modalform {
    padding-top: 46px;
    padding-left: 41px;
    padding-right: 39px;
  }
}

.modalform__title {
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 40px;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 0;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 120px;
  resize: none;
}

.coment:focus {
  border-color: var(--accent-text-color);
}

textarea::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  position: absolute;
  padding-bottom: 10px;
  bottom: 100%;
  left: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input:focus + .form-label {
  color: royalblue;
}

.form-field {
  margin-top: 30px;
  position: relative;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  fill: var(--accent-text-color);
}

.input-icon {
  position: absolute;
  margin-left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.svgwrap {
  position: relative;
}

.agreementfield {
  padding-left: auto;
  padding-right: auto;
}

.modalchecktext {
  display: block;
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (min-width: 1200px) {
  .modalchecktext {
    font-size: 14px;
  }
}

.modalchecktext::before {
  content: "";
  width: 16px;
  height: 15px;
  border: solid 2px #000000;
  margin-right: 5px;
  display: inline-block;
  border-radius: 2px;
}

.modal-check:checked + .modalchecktext::before {
  background-image: url(../images/check-box/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.modal-check:checked + .modalchecktext::before {
  background-image: url(../images/check-box/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.modalchecktext__span {
  text-decoration-skip-ink: none;
  padding-left: 4px;
}

.modalchecktext__link {
  text-decoration-skip-ink: none;
  color: var(--accent-text-color);
}

.checkbox-icon {
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
}

.modalchecktext__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  cursor: pointer;
  -webkit-transition: color 250ms linear, background-color 250ms linear;
  transition: color 250ms linear, background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modalchecktext__button:hover, .modalchecktext__button:focus {
  background: var(--background-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-left: auto;
}

.сontact__instagram {
  margin-top: 27px;
  margin-left: auto;
}

.contact__linkphone {
  text-decoration: none;
  margin-top: 32px;
  margin-left: 57px;
  color: var(--accent-text-color);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

.footer {
  width: 100%;
  border-top: solid 1px var(--main-text-color);
}

.footer__border {
  border-top: solid 1px var(--main-text-color);
}

.footerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

.footer__rights {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.footer__adress {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.footer__adress2 {
  margin-left: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.footer__contacts {
  margin-left: 221px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.footer__tel {
  margin-left: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.footer__linkphone {
  text-decoration: none;
  color: var(--main-text-color);
}

.footer__svg {
  margin-left: 333px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-top: 32px;
}

.sitenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-left: 245px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.sitenav__link {
  color: var(--second-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sitenav__item + .sitenav__item {
  margin-left: 50px;
}

.sitenav__linkcurrent {
  color: var(--accent-text-color);
  display: block;
  text-decoration: none;
  position: relative;
}

.sitenav .sitenav .sitenav__linkcurrent {
  color: var(--accent-text-color);
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.sitenav .sitenav__link:hover,
.sitenav .sitenav__link:focus {
  color: var(--accent-text-color);
}

.hero {
  text-align: center;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.hero .hero__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 129px;
  padding-bottom: 129px;
  padding-left: 212px;
}

.hero .hero__textblock {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  text-align: left;
}

.hero .hero__p1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-text-color);
}

.hero .hero__p2 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-text-color);
}

.hero .hero__p3 {
  margin-top: 84px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}

.hero .hero__title {
  padding-right: 0;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  color: var(--accent-text-color);
  letter-spacing: 0.035em;
}

.hero .hero__button {
  margin-top: 18px;
  padding: 0;
  background-color: var(--border-color);
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.hero .hero__buttonicon {
  margin-top: -2px;
  margin-left: 11px;
}

.aboutcourse {
  padding-left: 80px;
  padding-right: 80px;
  background-color: var(--background-color);
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-size: 100%;
}

.aboutcourse__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 80.75px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  line-height: 1.2;
  color: var(--border-color);
}

.aboutcourse__line::before {
  left: -1em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--border-color);
}

.aboutcourse__line::after {
  left: 1.3em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--border-color);
}

.aboutcourse__cards {
  margin-top: 10px;
  padding-bottom: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutcourse__item {
  width: 212px;
  margin-right: 40px;
  padding-top: 60px;
}

.aboutcourse__title {
  font-family: "Cormorant Unicase";
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.06em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.aboutcourse__text {
  margin-top: 5px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--border-color);
}

.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 164px;
}

.terms__left {
  display: inline-block;
  padding-top: 135px;
}

.terms__right {
  margin-top: 84px;
  padding-top: 73px;
  padding-bottom: 71px;
  padding-left: 90px;
  border: 2px solid #fe8202;
}

.terms__form {
  padding-right: 50px;
}

.terms__title {
  font-family: "Cormorant Unicase";
  font-size: 36px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--main-text-color);
}

.terms__list {
  margin-top: 50px;
}

.terms__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 45px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.terms__item:last-child {
  margin-bottom: 0;
}

.terms__item::before {
  position: absolute;
  margin-left: -45px;
  margin-top: 12px;
  content: " ";
  border-top: solid 2px #fff;
  width: 28px;
  display: block;
}

.terms__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.terms__pricename {
  font-family: "Cormorant Unicase";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.terms__price {
  margin-left: 99px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.terms__formtitle {
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: var(--main-text-color);
}

.terms__formtitlespan {
  color: var(--accent-text-color);
}

.terms__formtitlespan::after {
  margin-top: 7px;
  content: " ";
  border-bottom: solid 2px #fe8202;
  width: 220px;
  display: block;
}

.terms__property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
}

.terms__nameline::after {
  margin-top: 32px;
  content: " ";
  border-bottom: solid 2px rgba(224, 152, 78, 0.7);
  width: 297px;
  display: block;
}

.terms__phoneline::after {
  margin-top: 32px;
  content: " ";
  border-bottom: solid 2px rgba(224, 152, 78, 0.7);
  width: 297px;
  display: block;
}

.input-name {
  margin-right: 61px;
  border: none;
  width: 297px;
  background-color: var(--border-color);
}

.input-phone {
  border: none;
  width: 297px;
  background-color: var(--border-color);
}

input::-webkit-input-placeholder {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--main-text-color);
}

input:-ms-input-placeholder {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--main-text-color);
}

input::-ms-input-placeholder {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--main-text-color);
}

input::placeholder {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--main-text-color);
}

.terms__button {
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--border-color);
  color: var(--accent-text-color);
  border: none;
}

.terms__buttonicon {
  margin-left: 12px;
  fill: var(--accent-text-color);
}

.howitwork__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.howitwork__line::before {
  left: -1em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid #fbfbfb;
}

.howitwork__line::after {
  left: 1.3em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid #fbfbfb;
}

.howitwork__text {
  text-align: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 613px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.howitwork__title {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.howitwork__text2 {
  text-align: center;
  margin-top: 11px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-list {
  overflow: hidden;
}

.slider {
  margin-left: auto;
  margin-right: auto;
  width: 1450px;
  margin-top: 64px;
  margin-bottom: 172px;
  position: relative;
  padding: 0px 289px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 43px;
  height: 43px;
  border: none;
}

.slider .slick-arrow.slick-prev {
  left: 185px;
  background: url("/images/svg/arrow-left.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  margin: -35px 0px 0px 0px;
  right: 185px;
  background: url("/images/svg/arrow-right.svg") 0 0/100% no-repeat;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
  margin-top: 40px;
  margin-left: 0;
}

.slider .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.slider .slick-dots li.slick-active button {
  width: 70px;
}

.slick-list.draggable {
  border: solid 3px #fbfbfb;
  border-radius: 5px;
}

.sliderbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-left: auto;
}

.slider2 .slick-track {
  display: block;
}

.slider2 {
  position: relative;
}

.slider2 .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 43px;
  height: 43px;
  border: none;
}

.slider2 .slick-arrow.slick-prev {
  display: none !important;
  margin: -35px 0px 0px 0px;
  left: 185px;
  top: 50%;
  background: url("/images/svg/arrow-left.svg") 0 0/100% no-repeat;
}

.slider2 .slick-arrow.slick-next {
  margin: -35px 0px 0px 0px;
  left: 1170px;
  top: 50%;
  background: url("/images/svg/arrow-right.svg") 0 0/100% no-repeat;
}

.slider2 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider2 .slick-dots li {
  list-style: none;
  margin: 0px 10px;
  margin-top: 40px;
  margin-left: 0;
}

.slider2 .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.slider2 .slick-dots li.slick-active button {
  width: 70px;
}

.slider2 .slick-list.draggable {
  border: none;
}

.slider2__item {
  margin-bottom: 24px;
}

.sliderbig .slick-track {
  text-align: left;
}

.sliderbig {
  width: 874px;
  margin-left: 46px;
  margin-right: auto;
  position: relative;
  padding-left: 0;
}

.sliderbig__item {
  width: 874px;
}

.sliderbig .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 43px;
  height: 43px;
  border: none;
}

.sliderbig .slick-arrow.slick-prev {
  left: 185px;
  background: url("/images/svg/arrow-left.svg") 0 0/100% no-repeat;
}

.sliderbig .slick-arrow.slick-next {
  margin: -35px 0px 0px 0px;
  left: 950px;
  background: url("/images/svg/arrow-right.svg") 0 0/100% no-repeat;
}

.sliderbig .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliderbig .slick-dots li {
  list-style: none;
  margin: 0px 10px;
  margin-top: 40px;
  margin-left: 0;
}

.sliderbig .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.sliderbig .slick-dots li.slick-active button {
  width: 70px;
}

.sliderbig .slick-list.draggable {
  border: none;
}

.structure {
  padding-left: 80px;
  padding-right: 80px;
  background-color: var(--background-color);
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-size: 100%;
}

.structure__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 80.75px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.structure__line::before {
  left: -1em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--border-color);
}

.structure__line::after {
  left: 1.3em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--border-color);
}

.accordiondiv {
  margin-top: 70px;
  padding-bottom: 104px;
  text-align: center;
}

.accordion {
  margin-bottom: 20px;
  background-color: var(--accent-text-color);
  color: var(--main-text-color);
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 30px;
  width: 684px;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  -webkit-transition: 4s;
  transition: 4s;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
}

.accordion__panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.acordion__text {
  text-align: left;
  margin-top: 6px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 684px;
  color: var(--second-text-color);
}

.accordion__down {
  margin-left: 504px;
  fill: var(--main-text-color);
}

.accordion.active .accordion__down {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about {
  background-size: 100%;
}

.about__line {
  padding-top: 100px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.about__line::before {
  left: -1em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid #fbfbfb;
}

.about__line::after {
  left: 1.3em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid #fbfbfb;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.about__text {
  margin-left: 79px;
  width: 477px;
}

.about__text1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.about__text2 {
  margin-top: 27px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.certificate {
  margin-top: 120px;
  margin-bottom: 120px;
}

.certificate__title {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

.allcourse__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 67px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

.allcourse__line::before {
  left: -1em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: var(--main-text-color);
  background-clip: content-box;
  border-bottom: 1px solid var(--main-text-color);
}

.allcourse__line::after {
  left: 1.3em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: var(--main-text-color);
  background-clip: content-box;
  border-bottom: 1px solid var(--main-text-color);
}

.allcourse__text {
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

.allcourse__text {
  margin-top: 25px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-text-color);
}

.allcourse__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 280px;
  padding-right: 280px;
  padding-bottom: 47px;
}

.allcourse__item {
  margin-bottom: 73px;
}

.allcourse__name {
  margin-top: 18px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.allcourse__name2 {
  margin-left: 156px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--accent-text-color);
}

.allcourse__level {
  margin-top: 10px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.allcourse__svg {
  margin-left: 94px;
}

.allcourse__description {
  margin-top: 18px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.allcourse__button {
  margin-top: 18px;
  padding: 0;
  background-color: var(--border-color);
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.allcourse__buttonicon {
  margin-top: -2px;
  margin-left: 11px;
}

.trysong {
  background-color: var(--main-text-color);
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-size: 100%;
}

.trysong__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 67px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--second-text-color);
}

.trysong__line::before {
  left: -1em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid #181818;
}

.trysong__line::after {
  left: 1.3em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--border-color);
}

.trysong__text {
  text-align: center;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--border-color);
}

.trysong__list {
  margin-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trysong__name {
  margin-top: 25px;
  padding-left: 6px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.trysong__button {
  background-color: var(--main-text-color);
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  margin-top: 0;
  margin-left: 136px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--border-color);
  fill: var(--border-color);
}

.trysong__buttonicon {
  margin-top: -2px;
  margin-left: 9px;
}

.join__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 120px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

.join__line2 {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

.join__line::before {
  left: -1em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--main-text-color);
}

.join__line::after {
  left: 1.3em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--main-text-color);
}

.join__video {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 866px;
  border: 3px solid var(--main-text-color);
  border-radius: 5px;
}

.join__text {
  margin-top: 40px;
  text-align: center;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.join__buttonbox {
  margin-top: 30px;
  margin-bottom: 138px;
  text-align: center;
}

.join__button {
  margin-top: 0;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--border-color);
  color: var(--accent-text-color);
  border: none;
}

.join__buttonicon {
  margin-left: 12px;
  fill: var(--accent-text-color);
}
