@charset "UTF-8";
:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #fe8202;
  --background-color: #2f303a;
  --text-color: #ffffff;
  --background-text-color: #0f5996;
  --section-color: #f5f4fa;
  --border-bottom: #ececec;
  --border-portfolio-cards: #eeeeee;
}

body {
  background-color: var(--text-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

picture,
picture img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  max-width: 1200px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container-main {
  position: relative;
}

@media screen and (min-width: 768px) {
  .container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__logo {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--second-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.header__logo span {
  color: var(--accent-text-color);
}

.header__logo span:hover {
  color: var(--accent-text-color);
}

.footeradress__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-decoration: none;
  cursor: default;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (width: 768px) {
  .footeradress__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footeradress__logo:hover {
  color: var(--accent-text-color);
}

.footeradress__logo span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

@media screen and (width: 768px) {
  .footeradress__logo span {
    font-size: 26px;
    line-height: 1.19;
  }
}

.backdrop {
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(23, 26, 36, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: calc(100% - 30px);
  max-width: 450px;
  min-height: 581px;
  background-color: var(--text-color);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) rotate(0) translate(-50%, -50%);
          transform: scale(1) rotate(0) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.5) rotate(270deg);
          transform: scale(1.5) rotate(270deg);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: border-color 250ms;
  transition: border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:focus .modal__icon,
.modal__close:hover .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.modalform {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .modalform {
    padding-top: 46px;
    padding-left: 41px;
    padding-right: 39px;
  }
}

.modalform__title {
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 40px;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 0;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 120px;
  resize: none;
}

.coment:focus {
  border-color: var(--accent-text-color);
}

textarea::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  position: absolute;
  padding-bottom: 10px;
  bottom: 100%;
  left: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input:focus + .form-label {
  color: royalblue;
}

.form-field {
  margin-top: 30px;
  position: relative;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  fill: var(--accent-text-color);
}

.input-icon {
  position: absolute;
  margin-left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.svgwrap {
  position: relative;
}

.agreementfield {
  padding-left: auto;
  padding-right: auto;
}

.modalchecktext {
  display: block;
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (min-width: 1200px) {
  .modalchecktext {
    font-size: 14px;
  }
}

.modalchecktext::before {
  content: "";
  width: 16px;
  height: 15px;
  border: solid 2px #000000;
  margin-right: 5px;
  display: inline-block;
  border-radius: 2px;
}

.modal-check:checked + .modalchecktext::before {
  background-image: url(../images/check-box/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.modal-check:checked + .modalchecktext::before {
  background-image: url(../images/check-box/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.modalchecktext__span {
  text-decoration-skip-ink: none;
  padding-left: 4px;
}

.modalchecktext__link {
  text-decoration-skip-ink: none;
  color: var(--accent-text-color);
}

.checkbox-icon {
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
}

.modalchecktext__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  cursor: pointer;
  -webkit-transition: color 250ms linear, background-color 250ms linear;
  transition: color 250ms linear, background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modalchecktext__button:hover, .modalchecktext__button:focus {
  background: var(--background-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio {
  padding-top: 45px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfoliobutton {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfoliobutton {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfoliobutton {
    margin-bottom: 20px;
  }
}

.portfoliobutton__item {
  padding-top: 15px;
}

@media screen and (min-width: 768px) {
  .portfoliobutton__item {
    padding-top: 0;
  }
}

.portfoliobutton__item + .portfoliobutton__item {
  padding-left: 8px;
}

.portfoliobutton__item:nth-child(3n + 4) {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .portfoliobutton__item:nth-child(3n + 4) {
    padding-left: 8px;
  }
}

.portfoliobutton__button {
  border: none;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  background-color: var(--section-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  -webkit-transition: color 250ms linear, background-color 250ms linear;
  transition: color 250ms linear, background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfoliobutton__button:hover, .portfoliobutton__buttonfocus {
  background: var(--accent-text-color);
  color: var(--text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.adresslist__title {
  display: block;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-decoration: none;
  cursor: default;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adresslist__title:hover, .adresslist__title:focus {
  color: var(--accent-text-color);
}

.adresslist-post {
  display: block;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  cursor: default;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adresslist-post:hover {
  color: var(--accent-text-color);
  text-decoration: none;
  opacity: 0.6;
}

.adresslist-tel {
  display: block;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  cursor: default;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adresslist-tel:hover, .adresslist-tel:focus {
  color: var(--accent-text-color);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
}

.sitenav {
  display: none;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .sitenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sitenav .sitenav__item {
    margin-top: 32px;
  }
  .sitenav .sitenav__link {
    color: var(--second-text-color);
    text-decoration: none;
    -webkit-transition: color 250ms linear;
    transition: color 250ms linear;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .sitenav .sitenav__item + .sitenav__item {
    margin-left: 50px;
  }
}

.sitenav .sitenav__linkcurrent {
  color: var(--accent-text-color);
  display: block;
  text-decoration: none;
  position: relative;
}

.sitenav .sitenav .sitenav .sitenav__linkcurrent {
  color: var(--accent-text-color);
}

.sitenav .sitenav__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.sitenav .sitenav .sitenav__link:hover,
.sitenav .sitenav .sitenav__link:focus {
  color: var(--accent-text-color);
}

.open-menu-btn {
  background: none;
  border-color: transparent;
  border: none;
  padding: 0;
  margin-right: 8px;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}

.close-menu-btn {
  background: none;
  border-color: transparent;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .close-menu-btn {
    display: none;
  }
}

.menu-icon {
  width: 24px;
  height: 16px;
}

.menu-iconclose {
  width: 18px;
  height: 18px;
}

.close-menu-btn {
  margin-top: 0;
  padding-right: 10px;
  padding-left: 10px;
  padding: 0 10px;
  background: none;
  border: none;
  display: block;
  margin-left: auto;
  -webkit-transition: color 250ms linear, border-color 250ms;
  transition: color 250ms linear, border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-btn:hover, .close-menu-btn:focus {
  fill: var(--accent-text-color);
}

.mob-menu {
  display: none;
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  padding-top: 21px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
    position: static;
    background-color: initial;
    top: auto;
    width: auto;
    height: auto;
    z-index: 5;
  }
}

.mob-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobmenu__item {
  padding-bottom: 32px;
}

.mob-menu-top {
  margin-top: 0;
}

.mob-menu-bottom {
  margin-top: auto;
}

.mobmenu__link {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  line-height: 1, 2;
  letter-spacing: 0.02em;
}

.mobmenu__link:active {
  color: var(--accent-text-color);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.contmobmenu__item {
  margin-top: 32px;
}

.socialmobmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}

.socialmobmenu__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  padding-right: 10px;
  padding-left: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.socialmobmenu__item {
  border-right: solid #757575 1px;
}

.socialmobmenu__item:first-child .socialmobmenu__link {
  padding-left: 0;
}

.socialmobmenu__item:last-child {
  border-right: none;
}

.phonemobmenu {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  padding-left: 0;
  margin-bottom: 32px;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms linear, border-color 250ms;
  transition: color 250ms linear, border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phonemobmenu:hover, .phonemobmenu:focus {
  color: var(--accent-text-color);
}

.mailmobmenu {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms linear, border-color 250ms;
  transition: color 250ms linear, border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mailmobmenu:hover, .mailmobmenu:focus {
  color: var(--accent-text-color);
}

.contact {
  display: none;
  margin-top: 32px;
  margin-left: 305px;
}

@media screen and (min-width: 768px) {
  .contact {
    margin-top: 11px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    margin-top: 32px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__item {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .contact__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin-top: 0;
  }
}

.contact__item + .contact__item {
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 30px;
  }
}

.contact__mail {
  margin-right: 8px;
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .contact__mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

.contact__phone {
  margin-right: 8px;
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .contact__phone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__phone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}

.contact__link {
  margin-right: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  fill: var(--accent-text-color);
  color: var(--accent-text-color);
}

.hero {
  text-align: center;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg/Header-1x-m.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/Header-1x-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media not all, screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) and (min-resolution: 2dppx) and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg/Header-2x-m.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/Header-2x-m.jpg);
  }
}

@media not all, screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg/Header-1x-t.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/Header-1x-t.jpg);
  }
}

@media not all, screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-resolution: 2dppx) and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg/Header-2x-t.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/Header-2x-t.jpg);
  }
}

@media not all, screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg/Header-1x-d.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/Header-1x-d.jpg);
  }
}

@media not all, screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-resolution: 2dppx) and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg/Header-2x-d.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/Header-2x-d.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: var(--text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  line-height: 30px;
  background-color: var(--accent-text-color);
  color: var(--text-color);
  letter-spacing: 0.06em;
  -webkit-transition: color 250ms linear, background-color 250ms linear;
  transition: color 250ms linear, background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--background-text-color);
}

@media screen and (min-width: 768px) {
  .hero__button {
    font-size: 16px;
  }
}

.section-advantages {
  padding-bottom: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-advantages {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages {
    padding-top: 94px;
    margin-bottom: 0;
  }
}

.advantages__item {
  padding-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc(50% - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    margin-left: 30px;
    padding-bottom: 0;
    width: calc(25% - 15px);
  }
  .advantages__item:first-child {
    margin-left: 0;
  }
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .advantages {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages__title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--section-color);
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.whatwedo.section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .whatwedo.section {
    width: 100%;
    display: inline-block;
  }
}

.whatwedo__title {
  padding: top 94px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--second-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.whatwedo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.whatwedo__item + .whatwedo__item {
  margin-left: 30px;
}

.whatwedo__blocktitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 27px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--text-color);
}

.comand {
  background-color: var(--section-color);
}

@media screen and (min-width: 1200px) {
  .comand {
    margin-top: 0;
  }
}

.comand__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .comand__title {
    font-size: 28px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1200px) {
  .comand__title {
    font-size: 36px;
    line-height: 1.7;
    margin-bottom: 50px;
  }
}

.professions__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.professions__item {
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--main-text-color);
}

.professions {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--text-color);
}

.comand__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .comand__item {
    width: calc(50% - 15px);
    margin-top: 30px;
  }
  .comand__item:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .comand__item {
    margin-left: 30px;
    width: calc(25% - 15px);
    margin-top: 0;
  }
}

.comands {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .comands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .comands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.comand__item .img {
  display: block;
  width: 100%;
  height: auto;
}

.sociallist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sociallist__item {
  width: 44px;
  height: 44px;
}

.sociallist__item + .sociallist__item {
  margin-left: 10px;
}

.sociallist__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms linear, background-color 250ms linear;
  transition: color 250ms linear, background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sociallist__link:hover, .sociallist__link:focus {
  background-color: var(--accent-text-color);
}

.sociallist__icon {
  fill: #afb1b8;
}

.sociallist__link:hover .sociallist__icon,
.sociallist__link:focus .sociallist__icon {
  fill: var(--section-color);
}

.сlients__title {
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .сlients__title {
    padding-bottom: 0;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .сlients__title {
    padding-top: 94px;
    margin-bottom: 35px;
    font-size: 36px;
  }
}

.clients__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .clients__list {
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    margin-bottom: 79px;
  }
}

.clients__item {
  height: 92px;
  width: calc(100% / 2 - 30px);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: color 250ms linear, border-color 250ms;
  transition: color 250ms linear, border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: solid 1px var(--accent-text-color);
}

.clients__icon {
  -webkit-transition: fill 250ms linear, border-color 250ms;
  transition: fill 250ms linear, border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

.footer .container {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.adress {
  margin-top: 20px;
  font-style: normal;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footerform {
  margin-top: 60px;
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .footerform {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footerform {
    display: block;
    width: auto;
    max-width: none;
    padding-left: 93px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
  }
}

.footerform__class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footerform__class {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footerform__class {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footerform__title {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.buttonform {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  border-radius: 4px;
  cursor: pointer;
  fill: var(--text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--text-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .buttonform {
    margin-left: 12px;
    margin-top: 0;
    margin-right: 0;
  }
}

.buttonform:focus, .buttonform:hover {
  background: var(--background-text-color);
  color: var(--text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footeradress {
  width: 231px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .footeradress {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footeradress {
    width: 231px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}

.formfooter__icon {
  margin-left: 10px;
}

.input-email {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .input-email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .input-email {
    width: 358px;
    margin-bottom: 0;
  }
}

.footersocial__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footersocial {
  margin-left: 0px;
  padding-top: 12px;
  padding-left: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footersocial {
    width: 50%;
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footersocial {
    width: auto;
    padding-top: 12px;
    padding-left: 70px;
    text-align: left;
  }
}

.footersocial__title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .footersocial__title {
    margin-top: initial;
  }
}

.footersocial__item {
  width: 44px;
  height: 44px;
}

.footersocial__item + .footersocial__item {
  margin-left: 10px;
}

.footersocial__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(223, 219, 219, 0.1);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footersocial__link:hover, .footersocial__link:focus {
  background-color: var(--accent-text-color);
}

.footersocial__icon {
  fill: var(--text-color);
}

.link-our-product {
  text-decoration: none;
}

.link-our-product:focus .cards__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.pborder__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.pborder__surname {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.pborder {
  padding: 20px 24px;
  border: solid 1px var(--border-portfolio-cards);
}

@media screen and (min-width: 768px) {
  .pborder {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-family: roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__item:hover .cards__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards__item {
  width: 100%;
  padding-top: 30px;
  -webkit-transition: -webkit-box-shadow 250ms;
  transition: -webkit-box-shadow 250ms;
  transition: box-shadow 250ms;
  transition: box-shadow 250ms, -webkit-box-shadow 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .cards__item {
    width: calc(50% - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .cards__item {
    width: auto;
  }
}

.cards__item img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .cards__item img {
    display: block;
  }
}

.cards__item img:hover, .cards__item img:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards__item:hover .portfolio__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards__wrap {
  position: relative;
  overflow: hidden;
}

.cards__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
