@charset "UTF-8";
:root {
  --main-text-color: #fbfbfb;
  --second-text-color: #212121;
  --accent-text-color: #fe8202;
  --background-color: #f1f1f1;
  --text-color: #ffffff;
  --border-color: #181818;
}

body {
  background-color: var(--border-color);
  font-family: Poppins, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, Cormorant Unicase;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  -webkit-appearance: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

picture,
picture img {
  display: block;
  width: 100%;
  height: auto;
}

html,
body {
  scroll-behavior: smooth;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonform {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 108px;
  background-color: var(--border-color);
  cursor: pointer;
  fill: var(--text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--text-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  max-width: 1400px;
}

@media screen and (min-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container-main {
  position: relative;
}

@media screen and (min-width: 768px) {
  .container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.backdrop {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: black 50%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 100%px;
  max-width: 516px;
  min-height: 320px;
  background-color: var(--text-color);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) rotate(0) translate(-50%, -50%);
          transform: scale(1) rotate(0) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.5) rotate(270deg);
          transform: scale(1.5) rotate(270deg);
}

@media screen and (min-width: 768px) {
  .modal {
    width: calc(100% - 30px);
    left: 50%;
  }
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  fill: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .modal__close {
    left: 90%;
  }
}

.modal__icon {
  width: auto;
}

@media screen and (min-width: 768px) {
  .modal__icon {
    width: auto;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.modalform {
  height: 516px;
  padding-top: 68px;
  padding-left: 10px;
  padding-right: 18px;
}

@media screen and (min-width: 768px) {
  .modalform {
    width: 516px;
    padding-top: 50px;
    padding-bottom: 72px;
    padding-left: 111px;
    padding-right: 108px;
  }
}

.modalform__title {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  text-align: center;
  color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .modalform__title {
    font-size: 33px;
  }
}

.modalform__text {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 297px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000;
}

.form-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 100%;
  height: 40px;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.form-input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.form__button {
  margin-top: 0;
  padding-left: 47px;
  background-color: var(--text-color);
  font-family: "Cormorant Unicase";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--border-color);
  fill: var(--border-color);
}

.form__button:focus, .form__button:hover {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .form__button {
    font-size: 22px;
    padding-left: 24px;
  }
}

.coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 0;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 120px;
  resize: none;
}

.coment:focus {
  border-color: var(--accent-text-color);
}

textarea::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form {
  margin-right: auto;
  margin-left: auto;
  width: 297px;
}

.modalform__name {
  margin-top: 37px;
  font-family: "Cormorant Unicase";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .modalform__name {
    margin-top: 40px;
  }
}

.modalform__phone {
  margin-top: 34px;
  font-family: "Cormorant Unicase";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .modalform__phone {
    margin-top: 40px;
  }
}

.form-label {
  position: absolute;
  padding-bottom: 10px;
  bottom: 100%;
  left: 0px;
  font-weight: 400;
  font-size: 1px;
  line-height: 1.2px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input:focus + .form-label {
  color: royalblue;
}

.form-field {
  position: relative;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  fill: var(--accent-text-color);
}

.input-icon {
  position: absolute;
  margin-left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.svgwrap {
  position: relative;
}

.agreementfield {
  padding-left: auto;
  padding-right: auto;
}

.modalchecktext {
  display: block;
  margin-top: 33px;
  margin-bottom: 37px;
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.modalchecktext::before {
  content: "";
  width: 16px;
  height: 15px;
  border: solid 2px #000000;
  margin-right: 17px;
  display: inline-block;
  border-radius: 2px;
}

.modalchecktext .modalchecktext2 {
  padding-left: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.modal-check:checked + .modalchecktext::before {
  background-image: url(../images/check-box/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid;
}

.modalchecktext__span {
  text-decoration-skip-ink: none;
  padding-left: 4px;
}

.modalchecktext__link {
  text-decoration-skip-ink: none;
  color: var(--accent-text-color);
}

.checkbox-icon {
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
}

.modalchecktext__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  cursor: pointer;
  -webkit-transition: color 250ms linear, background-color 250ms linear;
  transition: color 250ms linear, background-color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modalchecktext__button:hover, .modalchecktext__button:focus {
  background: var(--background-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modalthanks {
  visibility: visible;
}

.modalthanks {
  width: 345px;
  max-width: 516px;
  min-height: 320px;
  background-color: var(--text-color);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) rotate(0) translate(-50%, -50%);
          transform: scale(1) rotate(0) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modalthanks {
  -webkit-transform: scale(1.5) rotate(270deg);
          transform: scale(1.5) rotate(270deg);
}

@media screen and (min-width: 768px) {
  .modalthanks {
    width: calc(100% - 30px);
  }
}

.modalthanks__box {
  text-align: end;
  width: calc(100% - 30px);
  max-width: 516px;
  min-height: 516px;
  background-color: var(--text-color);
  position: fixed;
  top: 39%;
  left: 4%;
}

@media screen and (min-width: 768px) {
  .modalthanks__box {
    left: 41%;
  }
}

.modalthanks__image {
  margin-top: 92px;
  text-align: center;
}

.modalthanks__close {
  margin-top: 27px;
  margin-right: 25px;
  background-color: var(--text-color);
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modalthanks__close {
    margin-top: 32px;
    margin-right: 32px;
  }
}

.modalthanks__text {
  margin-top: 27px;
  text-align: center;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 33px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .modalthanks__text {
    margin-top: 38px;
  }
}

.modalthanks__text2 {
  margin-top: 11px;
  text-align: center;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .modalthanks__text2 {
    margin-top: 8px;
    font-size: 24px;
  }
}

.modalthanks__icon {
  width: 19px;
}

@media screen and (min-width: 768px) {
  .modalthanks__icon {
    width: auto;
  }
}

.molalthanks__picture {
  width: 84px;
  height: 84px;
}

@media screen and (min-width: 768px) {
  .molalthanks__picture {
    width: auto;
    height: auto;
  }
}

.open-menu-btn {
  margin-top: 30px;
  margin-left: 42px;
  background-color: var(--border-color);
  border: none;
  fill: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}

.close-menu-btn {
  margin-top: 10px;
  margin-left: auto;
  background-color: var(--main-text-color);
  border: none;
  fill: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .close-menu-btn {
    display: none;
  }
}

.menu-icon {
  width: 30px;
  height: 21px;
}

.menu-iconclose {
  width: 30px;
  height: 21px;
}

.mobmenu {
  display: none;
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: 999;
  padding-top: 21px;
  padding-bottom: 48px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobmenu {
    display: none;
    position: static;
    background-color: initial;
    top: auto;
    width: auto;
    height: auto;
    z-index: 5;
  }
}

.mobmenu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.mobmenu__link {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  text-align: center;
  color: var(--border-color);
  text-decoration: none;
}

.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-left: auto;
  }
}

.contactmob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .contactmob {
    display: none;
  }
}

.сontact__instagram {
  margin-top: 27px;
  margin-left: auto;
}

.сontactmob__instagram {
  margin-top: 30px;
  margin-left: auto;
  fill: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .сontactmob__instagram {
    display: none;
  }
}

.contact__linkphone {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact__linkphone {
    display: inline-block;
    text-decoration: none;
    margin-top: 32px;
    margin-left: 57px;
    color: var(--accent-text-color);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
  }
}

.сontact__instagram {
  fill: var(--accent-text-color);
}

.сontact__instagram:focus, .сontact__instagram:hover {
  fill: var(--main-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact__linkphone {
  color: var(--accent-text-color);
}

.contact__linkphone:focus, .contact__linkphone:hover {
  color: var(--main-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  width: 100%;
}

.footer__border {
  border-top: solid 1px var(--main-text-color);
}

.footerbox {
  display: inline-block;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .footerbox {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__rights {
  margin-top: 40px;
  margin-bottom: 42px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .footer__rights {
    margin-bottom: 30px;
  }
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .footer__adress {
    padding-left: 65px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__adress2 {
  margin-left: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .footer__adress2 {
    font-size: 16px;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    display: block;
    margin-top: auto;
    margin-left: 221px;
    font-size: 16px;
  }
}

.footer__tel {
  margin-left: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .footer__tel {
    font-size: 16px;
  }
}

.footer__linkphone {
  text-decoration: none;
  color: var(--main-text-color);
}

.footer__linkphone:focus, .footer__linkphone:hover {
  color: var(--accent-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__icon {
  margin-top: 40px;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__icon {
    margin-top: 0;
    padding-right: 65px;
    text-align: left;
  }
}

.footer__facebook {
  margin-right: 30px;
  fill: var(--accent-text-color);
}

.footer__facebook:focus, .footer__facebook:hover {
  fill: var(--main-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__instagram {
  margin-right: 30px;
  fill: var(--accent-text-color);
}

.footer__instagram:focus, .footer__instagram:hover {
  fill: var(--main-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__vk {
  fill: var(--accent-text-color);
}

.footer__vk:focus, .footer__vk:hover {
  fill: var(--main-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-top: 32px;
}

.sitenav {
  display: none;
}

@media screen and (min-width: 768px) {
  .sitenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    margin-left: 245px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}

.sitenav__link {
  color: var(--second-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sitenav__item + .sitenav__item {
  margin-left: 50px;
}

.sitenav__linkcurrent {
  color: var(--accent-text-color);
  display: block;
  text-decoration: none;
  position: relative;
}

.sitenav .sitenav .sitenav__linkcurrent {
  color: var(--accent-text-color);
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.sitenav .sitenav__link:hover,
.sitenav .sitenav__link:focus {
  color: var(--accent-text-color);
}

.hero {
  text-align: center;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.hero .hero__element {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .hero .hero__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 129px;
    padding-bottom: 129px;
    padding-left: 212px;
  }
}

.hero .hero__textblock {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .hero .hero__textblock {
    text-align: left;
    margin-bottom: auto;
    margin-left: 100px;
  }
}

.hero .hero__p1 {
  display: none;
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .hero .hero__p1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}

.hero .hero__p2 {
  display: none;
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .hero .hero__p2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}

.hero .hero__p3 {
  margin-top: 40px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .hero .hero__p3 {
    margin-top: 84px;
  }
}

.hero .hero__title {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    font-family: "Cormorant Unicase";
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    color: var(--accent-text-color);
    letter-spacing: 0.035em;
  }
}

.hero .herobutton {
  margin-top: 39px;
  padding-bottom: 68px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.2;
  font-size: 18px;
  background-color: var(--border-color);
  color: var(--main-text-color);
  fill: var(--main-text-color);
}

.hero .herobutton:hover, .hero .herobutton:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .hero .herobutton {
    margin-top: 115px;
    padding-bottom: 0;
    font-size: 24px;
  }
}

.hero .hero__buttonicon {
  margin-top: -2px;
  margin-left: 11px;
}

.hero__mobile {
  margin-top: 43px;
  margin-bottom: 43px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .hero__mobile {
    display: none;
  }
}

.hero__mobilep1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .hero__mobilep1 {
    display: none;
  }
}

.hero__mobiletitle {
  padding-right: 0;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 33px;
  line-height: 1.2;
  color: var(--accent-text-color);
  letter-spacing: 0.035em;
}

@media screen and (min-width: 768px) {
  .hero__mobiletitle {
    display: none;
  }
}

.hero__mobilep2 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .hero__mobilep2 {
    display: none;
  }
}

.aboutcourse {
  background-color: var(--background-color);
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-size: 100%;
}

.aboutcourse__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 50px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  line-height: 1.2;
  color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .aboutcourse__line {
    padding-top: 80.75px;
    font-size: 36px;
  }
}

.aboutcourse__line::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .aboutcourse__line::before {
    left: -1.2em;
    margin: 0 0 0 -50%;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid var(--border-color);
  }
}

.aboutcourse__line::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .aboutcourse__line::after {
    left: 1.5em;
    margin: 0 -50% 0 0;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid var(--border-color);
  }
}

.aboutcourse__cards {
  margin-top: 10px;
  padding-bottom: 69px;
}

@media screen and (min-width: 768px) {
  .aboutcourse__cards {
    padding-bottom: 122px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.aboutcourse__item {
  width: 212px;
  margin-right: 40px;
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .aboutcourse__item {
    padding-top: 60px;
    margin-right: 63px;
  }
}

.aboutcourse__title {
  font-family: "Cormorant Unicase";
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.06em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.aboutcourse__text {
  margin-top: 5px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--border-color);
}

.terms__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .terms__section {
    padding-bottom: 164px;
  }
}

.terms {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .terms {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.terms__left {
  display: inline-block;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .terms__left {
    padding-top: 135px;
  }
}

.terms__right {
  margin-top: 84px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .terms__right {
    border: 2px solid #fe8202;
    padding-left: 90px;
    padding-top: 73px;
    padding-bottom: 71px;
  }
}

.terms__form {
  text-align: center;
  padding-right: 0px;
}

@media screen and (min-width: 768px) {
  .terms__form {
    text-align: left;
    padding-right: 50px;
  }
}

.terms__title {
  text-align: center;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .terms__title {
    text-align: left;
    font-size: 36px;
  }
}

.terms__list {
  margin-top: 50px;
}

.terms__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 45px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.terms__item:last-child {
  margin-bottom: 0;
}

.terms__item::before {
  position: absolute;
  margin-left: -45px;
  margin-top: 12px;
  content: " ";
  border-top: solid 2px #fff;
  width: 28px;
  display: block;
}

.terms__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.terms__pricename {
  font-family: "Cormorant Unicase";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.terms__price {
  margin-left: auto;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .terms__price {
    margin-left: 99px;
  }
}

.terms__formtitle {
  text-align: left;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .terms__formtitle {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.05em;
  }
}

.terms__formtitlespan {
  color: var(--accent-text-color);
}

.terms__formtitlespan::after {
  margin-top: 7px;
  content: " ";
  border-bottom: solid 2px #fe8202;
  width: 185px;
  display: block;
}

@media screen and (min-width: 768px) {
  .terms__formtitlespan::after {
    width: 220px;
  }
}

.terms__property {
  display: inline-block;
  text-align: left;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .terms__property {
    margin-top: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.terms__name {
  font-family: "Cormorant Unicase";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--text-color);
}

.terms__nameline::after {
  content: " ";
  border-bottom: solid 2px rgba(224, 152, 78, 0.7);
  display: block;
}

@media screen and (min-width: 375px) {
  .terms__nameline::after {
    width: 345px;
  }
}

@media screen and (min-width: 768px) {
  .terms__nameline::after {
    width: 297px;
  }
}

.terms__phone {
  font-family: "Cormorant Unicase";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--text-color);
}

.terms__phoneline {
  margin-top: 34px;
}

@media screen and (min-width: 768px) {
  .terms__phoneline {
    margin-top: 0;
  }
}

.terms__phoneline::after {
  content: " ";
  border-bottom: solid 2px rgba(224, 152, 78, 0.7);
  display: block;
}

@media screen and (min-width: 375px) {
  .terms__phoneline::after {
    width: 345px;
  }
}

@media screen and (min-width: 768px) {
  .terms__phoneline::after {
    width: 297px;
  }
}

.input-name {
  margin-right: 0;
  padding-top: 14px;
  font-size: 18px;
  border: none;
  width: 297px;
  background-color: var(--border-color);
  color: var(--text-color);
}

@media screen and (min-width: 375px) {
  .input-name {
    margin-right: 61px;
  }
}

@media screen and (min-width: 768px) {
  .input-name {
    padding-top: 34px;
  }
}

.input-phone {
  padding-top: 34px;
  font-size: 18px;
  border: none;
  width: 297px;
  background-color: var(--border-color);
  color: var(--text-color);
}

.terms__button {
  margin-top: 50px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.terms__button:hover, .terms__button:focus {
  color: var(--main-text-color);
  fill: var(--main-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .terms__button {
    margin-top: 71px;
    font-size: 24px;
  }
}

.terms__buttonicon {
  margin-left: 12px;
}

.howitwork__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .howitwork__line {
    font-size: 36px;
  }
}

.howitwork__line::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .howitwork__line::before {
    left: -1.2em;
    margin: 0 0 0 -50%;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid #fbfbfb;
  }
}

.howitwork__line::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .howitwork__line::after {
    left: 1.5em;
    margin: 0 -50% 0 0;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid #fbfbfb;
  }
}

.howitwork__text {
  text-align: left;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 613px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .howitwork__text {
    margin-top: 70px;
    font-size: 16px;
    text-align: center;
  }
}

.howitwork__title {
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .howitwork__title {
    margin-top: 50px;
  }
}

.howitwork__text2 {
  text-align: center;
  margin-top: 11px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-list {
  overflow: hidden;
}

.slider {
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  padding-bottom: 70px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .slider {
    padding-left: 289px;
    padding-right: 289px;
    padding-bottom: 172px;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}

.slider__item {
  position: relative;
}

.slider__item::before {
  content: " ";
  display: block;
  padding-top: 56%;
}

.slider__item iframe {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -130px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 43px;
  height: 43px;
  border: none;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .slider .slick-arrow.slick-prev {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    left: 185px;
    background: url("../images/svg/arrow-left.svg") 0 0/100% no-repeat;
  }
}

.slider .slick-arrow.slick-next {
  display: none !important;
  background: url("../images/svg/arrow-right.svg") 0 0/100% no-repeat;
}

@media screen and (min-width: 768px) {
  .slider .slick-arrow.slick-next {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: -140px 0px 0px 0px;
    right: 185px;
    background: url("../images/svg/arrow-right.svg") 0 0/100% no-repeat;
  }
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 16px;
  margin-top: 30px;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .slider .slick-dots li {
    margin-top: 40px;
  }
}

.slider .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
  border: none;
}

.slider .slick-dots li.slick-active button {
  width: 70px;
}

.slick-list.draggable {
  width: auto;
  height: auto;
  border: solid 3px #fbfbfb;
  border-radius: 5px;
}

.sliderbox {
  display: inline;
  margin-top: 40px;
  margin-left: -48px;
}

@media screen and (min-width: 768px) {
  .sliderbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70px;
    margin-left: auto;
  }
}

.slider2 .slick-track {
  display: block;
}

.slider2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.slider2 .slick-arrow.slick-prev {
  display: none !important;
  margin: -35px 0px 0px 0px;
  left: 185px;
  top: 50%;
  background: url("../images/svg/arrow-left.svg") 0 0/100% no-repeat;
}

.slider2 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider2 .slick-dots li {
  list-style: none;
  margin: 0px 16px;
  margin-top: 40px;
  margin-left: 0;
}

.slider2 .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
  border: none;
}

.slider2 .slick-dots li.slick-active button {
  width: 70px;
}

.slider2 .slick-list.draggable {
  border: none;
}

.slider2__item {
  margin-bottom: 24px;
  cursor: pointer;
}

.sliderbig .slick-track {
  text-align: left;
}

.sliderbig {
  width: 100%;
  max-width: 874px;
  margin-left: 0;
  margin-right: auto;
  position: relative;
  padding-left: 0;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .sliderbig {
    margin-left: 46px;
  }
}

.sliderbig__item {
  width: 874px;
}

.sliderbig .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 43px;
  height: 43px;
  border: none;
}

.sliderbig .slick-arrow.slick-prev {
  display: none !important;
  left: 185px;
  background: url("../images/svg/arrow-left.svg") 0 0/100% no-repeat;
}

.sliderbig .slick-arrow.slick-next {
  display: none !important;
  margin: -35px 0px 0px 0px;
  left: 950px;
  background: url("../images/svg/arrow-right.svg") 0 0/100% no-repeat;
}

@media screen and (min-width: 768px) {
  .sliderbig .slick-arrow.slick-next {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    cursor: pointer;
  }
}

.sliderbig .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliderbig .slick-dots li {
  list-style: none;
  margin: 0px 16px;
  margin-top: 10px;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .sliderbig .slick-dots li {
    display: none;
    margin-top: 40px;
  }
}

.sliderbig .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
  border: none;
}

.sliderbig .slick-dots li.slick-active button {
  width: 70px;
}

.sliderbig .slick-list.draggable {
  border: none;
  height: 220px;
}

@media screen and (min-width: 768px) {
  .sliderbig .slick-list.draggable {
    height: 420px;
  }
}

.structure {
  background-color: var(--background-color);
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-size: 100%;
}

.structure__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 50px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .structure__line {
    padding-top: 80.75px;
    font-size: 36px;
  }
}

.structure__line::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .structure__line::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -1.2em;
    margin: 0 0 0 -50%;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid var(--border-color);
  }
}

.structure__line::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .structure__line::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 1.5em;
    margin: 0 -50% 0 0;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid var(--border-color);
  }
}

.accordionbox {
  margin-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .accordionbox {
    margin-top: 70px;
    padding-bottom: 104px;
  }
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: var(--accent-text-color);
  color: var(--main-text-color);
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 15px;
  max-width: 684px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  -webkit-transition: 4s;
  transition: 4s;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.035em;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .accordion {
    height: auto;
    font-size: 24px;
  }
}

.accordionmob {
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .accordionmob {
    display: none;
  }
}

.accordion__panel {
  display: none;
  overflow: hidden;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.acordion__text {
  text-align: left;
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 345px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .acordion__text {
    font-size: 16px;
    margin-top: 6;
    margin-bottom: 45px;
    width: 684px;
  }
}

.accordion__down {
  margin-top: -5px;
  fill: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .accordion__down {
    margin-top: auto;
  }
}

.accordion.active .accordion__down {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.accordion2__panel {
  display: none;
  overflow: hidden;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.accordionbox2 {
  margin-top: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .accordionbox2 {
    display: none;
  }
}

.accordionbox2__text1 {
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .accordionbox2__text1 {
    display: none;
  }
}

.accordion2__text2 {
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .accordion2__text2 {
    display: none;
  }
}

.accordion2 {
  margin-top: 20px;
  background-color: var(--border-color);
  border: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .accordion2 {
    display: none;
  }
}

.accordion2.active {
  display: none;
}

.about {
  background-size: 100%;
}

.about__line {
  padding-top: 57px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .about__line {
    padding-top: 100px;
    font-size: 36px;
  }
}

.about__line::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .about__line::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -1.2em;
    margin: 0 0 0 -50%;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid #fbfbfb;
  }
}

.about__line::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .about__line::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 1.5em;
    margin: 0 -50% 0 0;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid #fbfbfb;
  }
}

.about__box {
  display: inline-block;
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about__text {
  display: none;
}

@media screen and (min-width: 768px) {
  .about__text {
    display: block;
    margin-left: 79px;
    width: 477px;
  }
}

.about__text1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.about__text2 {
  margin-top: 27px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.about__picture {
  width: auto;
}

.certificate {
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .certificate {
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: left;
  }
}

.certificate__title {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

.allcourse__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 70px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .allcourse__line {
    font-size: 36px;
    padding-top: 67px;
  }
}

.allcourse__line::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .allcourse__line::before {
    display: block;
    left: -1.2em;
    margin: 0 0 0 -50%;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: var(--main-text-color);
    background-clip: content-box;
    border-bottom: 1px solid var(--main-text-color);
  }
}

.allcourse__line::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .allcourse__line::after {
    display: block;
    left: 1.5em;
    margin: 0 -50% 0 0;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: var(--main-text-color);
    background-clip: content-box;
    border-bottom: 1px solid var(--main-text-color);
  }
}

.allcourse__text {
  margin-top: 10px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .allcourse__text {
    margin-top: 25px;
    font-weight: 700;
  }
}

.allcourse__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .allcourse__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
    padding-left: 280px;
    padding-right: 280px;
    padding-bottom: 47px;
  }
}

.allcourse__item {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .allcourse__item {
    margin-bottom: 73px;
  }
}

.allcourse__name {
  margin-top: 18px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.allcourse__name2 {
  margin-left: 156px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--accent-text-color);
}

.allcourse__level {
  margin-top: 10px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.allcourse__svg {
  margin-left: 94px;
}

.allcourse__description {
  margin-top: 18px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.allcourse__button {
  margin-top: 18px;
  padding: 0;
  background-color: var(--border-color);
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.allcourse__button:hover, .allcourse__button:focus {
  color: var(--main-text-color);
  fill: var(--main-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allcourse__buttonicon {
  margin-top: -2px;
  margin-left: 11px;
}

.trysong {
  background-color: var(--main-text-color);
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-size: 100%;
}

.trysong__line {
  display: none;
}

@media screen and (min-width: 768px) {
  .trysong__line {
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding-top: 67px;
    font-family: "Cormorant Unicase";
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.035em;
    color: var(--second-text-color);
  }
}

.trysong__mobline {
  padding-top: 46px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .trysong__mobline {
    display: none;
  }
}

.trysong__moblinespan {
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--border-color);
}

@media screen and (min-width: 768px) {
  .trysong__moblinespan {
    display: none;
  }
}

.trysong__line::before {
  left: -2em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid #181818;
}

.trysong__line::after {
  left: 2.2em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--border-color);
}

.trysong__text {
  display: none;
}

@media screen and (min-width: 768px) {
  .trysong__text {
    display: block;
    text-align: center;
    font-family: "Cormorant Unicase";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.035em;
    color: var(--border-color);
  }
}

.trysong__list {
  margin-top: 40px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 11px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .trysong__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 88px;
  }
}

.trusong__item {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .trusong__item {
    margin-bottom: 0;
  }
}

.trysong__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  padding-left: 6px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.trysong__button {
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-color: var(--main-text-color);
  margin-top: 0;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--border-color);
  fill: var(--border-color);
}

.trysong__button:hover, .trysong__button:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .trysong__button {
    margin-left: 136px;
  }
}

.trysong__buttonicon {
  margin-top: -2px;
  margin-left: 9px;
}

.trusong__iframe {
  width: auto;
  max-width: 346px;
  height: 448px;
}

.trysong iframe {
  display: block;
  width: 100%;
  height: 399px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.join__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 60px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .join__line {
    font-size: 28px;
    padding-top: 120px;
    font-size: 36px;
  }
}

.join__line2 {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .join__line2 {
    font-size: 36px;
  }
}

.join__line::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .join__line::before {
    display: block;
    left: -1.8em;
    margin: 0 0 0 -50%;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid var(--main-text-color);
  }
}

.join__line::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .join__line::after {
    display: block;
    left: 2em;
    margin: 0 -50% 0 0;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid var(--main-text-color);
  }
}

.join__video {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  border: 3px solid var(--main-text-color);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .join__video {
    margin-top: 70px;
    width: 863px;
    height: 481px;
  }
}

.join__video iframe {
  width: 100%;
  height: 100%;
}

.join__text {
  margin-top: 20px;
  padding-left: 65px;
  padding-right: 65px;
  text-align: center;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .join__text {
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }
}

.join__buttonbox {
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .join__buttonbox {
    margin-bottom: 138px;
  }
}

.join__button {
  margin-top: 0;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.join__button:focus, .join__button:hover {
  color: var(--main-text-color);
  fill: var(--main-text-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .join__button {
    font-size: 24px;
  }
}

.join__buttonicon {
  margin-left: 12px;
}
