.aboutcourse {
  padding-left: 80px;
  padding-right: 80px;
  background-color: var(--background-color);
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-size: 100%;
}

.aboutcourse__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 80.75px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  line-height: 1.2;
  color: var(--border-color);
}

.aboutcourse__line::before {
  left: -1em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--border-color);
}

.aboutcourse__line::after {
  left: 1.3em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--border-color);
}

.aboutcourse__cards {
  margin-top: 10px;
  padding-bottom: 122px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutcourse__item {
  width: 212px;
  margin-right: 40px;
  padding-top: 60px;
}

.aboutcourse__title {
  font-family: "Cormorant Unicase";
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.06em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.aboutcourse__text {
  margin-top: 5px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--border-color);
}
