.allcourse__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 70px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 36px;
    padding-top: 67px;
  }
}

.allcourse__line::before {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    left: -1.2em;
    margin: 0 0 0 -50%;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: var(--main-text-color);
    background-clip: content-box;
    border-bottom: 1px solid var(--main-text-color);
  }
}

.allcourse__line::after {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    left: 1.5em;
    margin: 0 -50% 0 0;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: var(--main-text-color);
    background-clip: content-box;
    border-bottom: 1px solid var(--main-text-color);
  }
}

.allcourse__text {
  margin-top: 10px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--accent-text-color);
  @media screen and (min-width: 768px) {
    margin-top: 25px;
    font-weight: 700;
  }
}

.allcourse__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 35px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 47px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 280px;
    padding-right: 280px;
  }
}

.allcourse__item {
  margin-bottom: 50px;
  @media screen and (min-width: 640px) {
    margin-left: 10px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 73px;
    margin-left: auto;
  }
}

.allcource__picture {
  width: 100%;
  max-width: 300px;
}

.allcourse__name {
  display: flex;
  margin-top: 18px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.allcourse__name2 {
  margin-left: auto;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  color: var(--accent-text-color);
}

.allcourse__level {
  display: flex;
  margin-top: 10px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.allcourse__svg {
  margin-left: auto;
}

.allcourse__description {
  margin-top: 18px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.allcourse__button {
  margin-top: 18px;
  padding: 0;
  background-color: var(--border-color);
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
  &:hover,
  &:focus {
    color: var(--main-text-color);
    fill: var(--main-text-color);
    transition: 0.5s;
  }
}

.allcourse__buttonicon {
  margin-top: -2px;
  margin-left: 11px;
}
