.contact {
  display: flex;
  margin-top: 0;
  margin-left: auto;
}

.—Åontact__instagram {
  margin-top: 27px;
  margin-left: auto;
}

.contact__linkphone {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    text-decoration: none;
    margin-top: 32px;
    margin-left: 57px;
    color: var(--accent-text-color);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
  }
}
