.footer {
  width: 100%;
}

.footer__border {
  border-top: solid 1px var(--main-text-color);
}

.footerbox {
  display: inline-block;
  padding-top: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__rights {
  margin-top: 40px;
  margin-bottom: 42px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.footer__adress {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    display: block;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
  }
}

.footer__adress2 {
  margin-left: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 221px;
    font-size: 16px;
  }
}

.footer__tel {
  margin-left: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.footer__linkphone {
  text-decoration: none;
  color: var(--main-text-color);
  &:focus,
  &:hover {
    color: var(--accent-text-color);
    transition: 0.5s;
  }
}

.footer__icon {
  margin-top: 40px;
  margin-left: auto;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    text-align: left;
  }
}

.footer__facebook {
  margin-right: 30px;
  fill: var(--accent-text-color);
  &:focus,
  &:hover {
    fill: var(--main-text-color);
    transition: 0.5s;
  }
}

.footer__instagram {
  margin-right: 30px;
  fill: var(--accent-text-color);
  &:focus,
  &:hover {
    fill: var(--main-text-color);
    transition: 0.5s;
  }
}

.footer__vk {
  fill: var(--accent-text-color);
  &:focus,
  &:hover {
    fill: var(--main-text-color);
    transition: 0.5s;
  }
}
