.footer {
  width: 100%;
  border-top: solid 1px var(--main-text-color);
}

.footer__border {
  border-top: solid 1px var(--main-text-color);
}

.footerbox {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.footer__rights {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.footer__adress {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.footer__adress2 {
  margin-left: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.footer__contacts {
  margin-left: 221px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.footer__tel {
  margin-left: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.footer__linkphone {
  text-decoration: none;
  color: var(--main-text-color);
  &:focus,
  &:hover {
    color: var(--accent-text-color);
    transition: 0.5s;
  }
}

.footer__icon {
  margin-left: 320px;
}

.footer__facebook {
  margin-right: 30px;
  fill: var(--accent-text-color);
  &:focus,
  &:hover {
    fill: var(--main-text-color);
    transition: 0.5s;
  }
}

.footer__instagram {
  margin-right: 30px;
  fill: var(--accent-text-color);
  &:focus,
  &:hover {
    fill: var(--main-text-color);
    transition: 0.5s;
  }
}

.footer__vk {
  fill: var(--accent-text-color);
  &:focus,
  &:hover {
    fill: var(--main-text-color);
    transition: 0.5s;
  }
}
