.hero {
  text-align: center;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  .hero__element {
    display: flex;
    padding-top: 129px;
    padding-bottom: 129px;
    padding-left: 212px;
  }

  .hero__textblock {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
    text-align: left;
  }

  .hero__p1 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent-text-color);
  }

  .hero__p2 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent-text-color);
  }

  .hero__p3 {
    margin-top: 84px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
  }

  .hero__title {
    padding-right: 0;
    font-family: "Cormorant Unicase";
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    color: var(--accent-text-color);
    letter-spacing: 0.035em;
  }

  .hero__button {
    margin-top: 18px;
    padding: 0;
    background-color: var(--border-color);
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }

  .hero__buttonicon {
    margin-top: -2px;
    margin-left: 11px;
  }
}
