.hero {
  text-align: center;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  .hero__element {
    display: inline-block;
    @media screen and (min-width: 768px) {
      display: flex;
      padding-top: 129px;
      padding-bottom: 80px;
      padding-left: 50px;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 212px;
      padding-bottom: 129px;
    }
  }

  .hero__textblock {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    @media screen and (min-width: 768px) {
      text-align: left;
      margin-bottom: auto;
      margin-left: 50px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 100px;
    }
  }

  .hero__p1 {
    display: none;
    color: var(--accent-text-color);
    @media screen and (min-width: 768px) {
      display: flex;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .hero__p2 {
    display: none;
    color: var(--accent-text-color);
    @media screen and (min-width: 768px) {
      display: flex;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .hero__p3 {
    margin-top: 40px;
    text-align: left;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
    @media screen and (min-width: 768px) {
      margin-top: 50px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 84px;
    }
  }

  .hero__title {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      padding-right: 0;
      font-family: "Cormorant Unicase";
      font-weight: 400;
      font-size: 48px;
      line-height: 1.2;
      color: var(--accent-text-color);
      letter-spacing: 0.035em;
    }
  }

  .herobutton {
    margin-top: 39px;
    padding-bottom: 68px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.2;
    font-size: 18px;
    background-color: var(--border-color);
    color: var(--main-text-color);
    fill: var(--main-text-color);
    &:hover,
    &:focus {
      color: var(--accent-text-color);
      fill: var(--accent-text-color);
      transition: 0.5s;
    }
    @media screen and (min-width: 768px) {
      margin-top: 80px;
      padding-bottom: 0;
      font-size: 24px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 115px;
    }
  }

  .hero__buttonicon {
    margin-top: -2px;
    margin-left: 11px;
  }
}

// Ниже стили для мобильной версии сайта

.hero__mobile {
  margin-top: 43px;
  margin-bottom: 43px;
  text-align: left;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero__mobilep1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-text-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero__mobiletitle {
  padding-right: 0;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 33px;
  line-height: 1.2;
  color: var(--accent-text-color);
  letter-spacing: 0.035em;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero__mobilep2 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-text-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
