.join__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 60px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 28px;
    padding-top: 120px;
    font-size: 36px;
  }
}

.join__line2 {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

.join__line::before {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    left: -1.8em;
    margin: 0 0 0 -50%;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid var(--main-text-color);
  }
}

.join__line::after {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    left: 2em;
    margin: 0 -50% 0 0;
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid var(--main-text-color);
  }
}

.join__video {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 345px;
  width: auto;
  height: auto;
  border: 3px solid var(--main-text-color);
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    max-width: 862px;
    margin-top: 70px;
    height: 481px;
  }
}

.join__video iframe {
  width: 100%;
  height: 100%;
}

.join__text {
  margin-top: 20px;
  padding-left: 65px;
  padding-right: 65px;
  text-align: center;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }
}

.join__buttonbox {
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 138px;
  }
}

.join__button {
  margin-top: 0;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
  &:focus,
  &:hover {
    color: var(--main-text-color);
    fill: var(--main-text-color);
    transition: 0.5s;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.join__buttonicon {
  margin-left: 12px;
}
