.join__line {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 120px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

.join__line2 {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--main-text-color);
}

.join__line::before {
  left: -1.8em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--main-text-color);
}

.join__line::after {
  left: 2em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--main-text-color);
}

.join__video {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 866px;
  border: 3px solid var(--main-text-color);
  border-radius: 5px;
}

.join__text {
  margin-top: 40px;
  text-align: center;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.join__buttonbox {
  margin-top: 30px;
  margin-bottom: 138px;
  text-align: center;
}

.join__button {
  margin-top: 0;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
  &:focus,
  &:hover {
    color: var(--main-text-color);
    fill: var(--main-text-color);
    transition: 0.5s;
  }
}

.join__buttonicon {
  margin-left: 12px;
}
