.terms {
  display: flex;
  justify-content: space-between;
  padding-bottom: 164px;
}

.terms__left {
  display: inline-block;
  padding-top: 135px;
}

.terms__right {
  margin-top: 84px;
  padding-top: 73px;
  padding-bottom: 71px;
  padding-left: 90px;
  border: 2px solid #fe8202;
}

.terms__form {
  padding-right: 50px;
}

.terms__title {
  font-family: "Cormorant Unicase";
  font-size: 36px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--main-text-color);
}

.terms__list {
  margin-top: 50px;
}

.terms__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 45px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  &:last-child {
    margin-bottom: 0;
  }
}

.terms__item::before {
  position: absolute;
  margin-left: -45px;
  margin-top: 12px;
  content: " ";
  border-top: solid 2px #fff;
  width: 28px;
  display: block;
}

.terms__prices {
  display: flex;
  margin-top: 50px;
}

.terms__pricename {
  font-family: "Cormorant Unicase";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.terms__price {
  margin-left: 99px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.terms__formtitle {
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: var(--main-text-color);
}

.terms__formtitlespan {
  color: var(--accent-text-color);
}

.terms__formtitlespan::after {
  margin-top: 7px;
  content: " ";
  border-bottom: solid 2px #fe8202;
  width: 220px;
  display: block;
}

.terms__property {
  display: flex;
  margin-top: 54px;
}

.terms__nameline::after {
  margin-top: 32px;
  content: " ";
  border-bottom: solid 2px rgba(224, 152, 78, 0.7);
  width: 297px;
  display: block;
}

.terms__phoneline::after {
  margin-top: 32px;
  content: " ";
  border-bottom: solid 2px rgba(224, 152, 78, 0.7);
  width: 297px;
  display: block;
}

.input-name {
  margin-right: 61px;
  border: none;
  width: 297px;
  background-color: var(--border-color);
}

.input-phone {
  border: none;
  width: 297px;
  background-color: var(--border-color);
}

input::placeholder {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.035em;
  line-height: 1.2;
  color: var(--main-text-color);
}

.terms__button {
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--border-color);
  color: var(--accent-text-color);
  border: none;
}

.terms__buttonicon {
  margin-left: 12px;
  fill: var(--accent-text-color);
}
