.trysong {
  background-color: var(--main-text-color);
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-size: 100%;
}

.trysong__line {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding-top: 67px;
    font-family: "Cormorant Unicase";
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.035em;
    color: var(--second-text-color);
  }
}

.trysong__mobline {
  padding-top: 46px;
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--border-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.trysong__moblinespan {
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.035em;
  color: var(--border-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.trysong__line::before {
  left: -2em;
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid #181818;
}

.trysong__line::after {
  left: 2.2em;
  margin: 0 -50% 0 0;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 2px;
  vertical-align: middle;
  background: #000;
  background-clip: content-box;
  border-bottom: 1px solid var(--border-color);
}

.trysong__text {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    text-align: center;
    font-family: "Cormorant Unicase";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.035em;
    color: var(--border-color);
  }
}

.trysong__list {
  margin-top: 40px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 88px;
  }
}

.trusong__item {
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.trysong__name {
  margin-top: 25px;
  padding-left: 6px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.trysong__button {
  background-image: url(/images/1x2x/Hero/header1x.jpg);
  background-color: var(--main-text-color);
  margin-top: 0;
  margin-left: 128px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--border-color);
  fill: var(--border-color);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
    transition: 0.5s;
  }
  @media screen and (min-width: 768px) {
    margin-left: 136px;
  }
}

.trysong__buttonicon {
  margin-top: -2px;
  margin-left: 9px;
}
