.open-menu-btn {
  margin-top: 30px;
  margin-left: 42px;
  background-color: var(--border-color);
  border: none;
  fill: var(--accent-text-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.close-menu-btn {
  margin-left: auto;

  background-color: var(--main-text-color);
  border: none;
  fill: var(--accent-text-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  width: 30px;
  height: 21px;
}

.menu-iconclose {
  width: 30px;
  height: 21px;
}

.mobmenu {
  display: none;
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: 999;
  padding-top: 30px;
  padding-bottom: 48px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
    position: static;
    background-color: initial;
    top: auto;
    width: auto;
    height: auto;
    z-index: 5;
  }
  &.is-open {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.mobmenu__link,
.mobmenu__linkphone {
  font-family: "Cormorant Unicase";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.035em;
  text-align: center;
  color: var(--border-color);
  text-decoration: none;
}

.mobmenu-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
