.backdrop {
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(23, 26, 36, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: calc(100% - 30px);
  max-width: 450px;
  min-height: 581px;
  background-color: var(--text-color);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;

  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: scale(1.5) rotate(270deg);
  }
  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus .modal__icon,
  &:hover .modal__icon {
    fill: #2196f3;
  }
}

.modal__icon {
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.modalform {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 46px;
    padding-left: 41px;
    padding-right: 39px;
  }
}

.modalform__title {
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 40px;
  transition: border-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }
}

.coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 0;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 120px;
  resize: none;
  &:focus {
    border-color: var(--accent-text-color);
  }
}

textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  position: absolute;
  padding-bottom: 10px;
  bottom: 100%;
  left: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

  .form-input:focus + & {
    color: royalblue;
  }
}

.form-field {
  margin-top: 30px;
  position: relative;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    fill: var(--accent-text-color);
  }
}

.input-icon {
  position: absolute;
  margin-left: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}

.svgwrap {
  position: relative;
}

.agreementfield {
  padding-left: auto;
  padding-right: auto;
}

.modalchecktext {
  display: block;
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: solid 2px #000000;
    margin-right: 5px;
    display: inline-block;
    border-radius: 2px;
  }
  .modal-check:checked + &::before {
    background-image: url(../images/check-box/check.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
  }
  .modal-check:checked + &::before {
    background-image: url(../images/check-box/check.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
  }
}

.modalchecktext__span {
  text-decoration-skip-ink: none;
  padding-left: 4px;
}

.modalchecktext__link {
  text-decoration-skip-ink: none;
  color: var(--accent-text-color);
}

.checkbox-icon {
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
}

.modalchecktext__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  border: none;
  border-radius: 4px;

  width: 200px;
  height: 50px;

  background-color: var(--accent-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--background-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
