.slick-track {
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
}

.slick-list {
  overflow: hidden;
}

.slider {
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  padding-bottom: 70px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: 768px) {
    padding-left: 289px;
    padding-right: 289px;
    padding-bottom: 172px;
    width: 1450px;
    height: auto;
    margin-top: 30px;
  }
}

.slider__item {
  position: relative;
}

.slider__item::before {
  content: " ";
  display: block;
  padding-top: 56%;
}

.slider__item iframe {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -130px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 43px;
  height: 43px;
  border: none;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  display: none !important;
  @media screen and (min-width: 768px) {
    display: flex !important;
    left: 185px;
    background: url("/images/svg/arrow-left.svg") 0 0 / 100% no-repeat;
  }
}

.slider .slick-arrow.slick-next {
  display: none !important;
  background: url("/images/svg/arrow-right.svg") 0 0 / 100% no-repeat;
  @media screen and (min-width: 768px) {
    display: flex !important;
    margin: -140px 0px 0px 0px;
    right: 185px;
    background: url("/images/svg/arrow-right.svg") 0 0 / 100% no-repeat;
  }
}

.slider .slick-dots {
  display: flex;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 16px;
  margin-top: 30px;
  margin-left: 0;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.slider .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
  border: none;
}

.slider .slick-dots li.slick-active button {
  width: 70px;
}

.slick-list.draggable {
  width: 345px;
  height: 193px;
  border: solid 3px #fbfbfb;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    width: auto;
    height: auto;
  }
}

// тут заканчиваеться первый слайдер ------------!

.sliderbox {
  display: flex;
  margin-top: 70px;
  margin-left: auto;
}

.slider2 .slick-track {
  display: block;
}

.slider2 {
  position: relative;
}

.slider2 .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 43px;
  height: 43px;
  border: none;
  cursor: pointer;
}

.slider2 .slick-arrow.slick-prev {
  display: none !important;
  margin: -35px 0px 0px 0px;
  left: 185px;
  top: 50%;
  background: url("/images/svg/arrow-left.svg") 0 0 / 100% no-repeat;
}

.slider2 .slick-arrow.slick-next {
  margin: -35px 0px 0px 0px;
  left: 1170px;
  top: 50%;
  background: url("/images/svg/arrow-right.svg") 0 0 / 100% no-repeat;
}

.slider2 .slick-dots {
  display: flex;
}

.slider2 .slick-dots li {
  list-style: none;
  margin: 0px 16px;
  margin-top: 40px;
  margin-left: 0;
}

.slider2 .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
  border: none;
}

.slider2 .slick-dots li.slick-active button {
  width: 70px;
}

.slider2 .slick-list.draggable {
  border: none;
}

.slider2__item {
  margin-bottom: 24px;
  cursor: pointer;
}

// тут заканчиваеться второй слайдер ------------!
// тут начинаеться большой слайдер ------------!

.sliderbig .slick-track {
  text-align: left;
}

.sliderbig {
  width: 874px;
  margin-left: 46px;
  margin-right: auto;
  position: relative;
  padding-left: 0;
  z-index: 0;
}

.sliderbig__item {
  width: 874px;
}

.sliderbig .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 43px;
  height: 43px;
  border: none;
}

.sliderbig .slick-arrow.slick-prev {
  left: 185px;
  background: url("/images/svg/arrow-left.svg") 0 0 / 100% no-repeat;
}

.sliderbig .slick-arrow.slick-next {
  margin: -35px 0px 0px 0px;
  left: 950px;
  background: url("/images/svg/arrow-right.svg") 0 0 / 100% no-repeat;
}

.sliderbig .slick-dots {
  display: flex;
}

.sliderbig .slick-dots li {
  list-style: none;
  margin: 0px 16px;
  margin-top: 40px;
  margin-left: 0;
}

.sliderbig .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
  border: none;
}

.sliderbig .slick-dots li.slick-active button {
  width: 70px;
}

.sliderbig .slick-list.draggable {
  border: none;
}
