:root {
  --main-text-color: #fbfbfb;
  --second-text-color: #212121;
  --accent-text-color: #fe8202;
  --background-color: #f1f1f1;
  --text-color: #ffffff;
}

body {
  background-color: black;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    Cormorant Unicase;
  color: var(--main-text-color);
}
