:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #fe8202;
  --background-color: #2f303a;
  --text-color: #ffffff;
  --background-text-color: #0f5996;
  --section-color: #f5f4fa;
  --border-bottom: #ececec;
  --border-portfolio-cards: #eeeeee;
}

body {
  background-color: black;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    Cormorant Unicase;
  color: var(--main-text-color);
}
